<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Advice generator app</title>
</head>

<body>
    <div class="main">
        <div class="advice-component">
            <p class="heading">Advice #<%= adviceId %>
            </p>
            <p class="advice">"<%= advice %>"</p>
            <img src="/img/pattern-divider-desktop.svg" alt="Divider" class="divider">
            <div class="btn" onclick="getAdvice()"><img src="/img/icon-dice.svg" alt="New Advice" class="dice">
            </div>
        </div>
        <script src="/script.js"></script>
</body>

</html>